<style>
    .nav{display: none;} footer{display: none}.navbar{display: none;}
</style>

<div class='container'>
    {{#if message}}
        <div
            id='myAlert'
            class='alert alert-danger text-center slideInRight'
            role='alert'
        >{{message}}</div>
    {{/if}}
    {{#if success}}
        <div
            id='mySuccess'
            class='alert alert-success text-center slideInRight'
            role='alert'
        >{{success}}</div>
    {{/if}}
    <main class='form-signin'>
        <form method='post' action='/user/login'>
            <a href='/'><img
                    class=''
                    src='/image/fullstack.png'
                    alt=''
                    width='320'
                    height='230'
                /></a>
            <h1 style='margin-top: -50px;' class='h3 mb-3 fw-normal text-center'>SIGN IN</h1>

            <div class='form-floating'>
                <input
                    type='email'
                    name='email'
                    class='form-control'
                    id='floatingInput'
                    required
                    placeholder='name@example.com'
                />
                <label for='floatingInput'>Email</label>
            </div>
            <br />
            <div class='form-floating'>
                <input
                    type='password'
                    name='password'
                    class='form-control'
                    id='floatingPassword'
                    required
                    placeholder='Password'
                />
                <label for='floatingPassword'>Password</label>
            </div>
            <br />
            <div class='checkbox mb-3 d-flex justify-content-between'>
                <label>
                    <input type='checkbox' value='remember-me' />
                    Remember me
                </label>
                <div class='login'>
                    <a href='/user/register'> Sign up</a>
                </div>
            </div>
            <button class='w-100 btn btn-lg btn-primary' type='submit'>Sign in</button>
        </form>
    </main>
</div>
<script type='text/javascript'>
    function hideAlert() { var alerts = document.getElementsByClassName('alert'); for (var i = 0; i
    < alerts.length; i++) { var alert = alerts[i]; setTimeout(function(alert) { alert.style.opacity
    = "0"; setTimeout(function(alert) { alert.style.display = "none"; }, 500, alert); }, 3000,
    alert); } } hideAlert();
</script>