<nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <div class='container-fluid px-4'>
        <a class='navbar-brand' href='/'>F8 EDUCATION</a>
        <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarNavDropdown'
            aria-controls='navbarNavDropdown'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse d-flex' id='navbarNavDropdown'>
            <ul class='navbar-nav flex-grow-1'>
                <li class='nav-item'>
                    <a class='nav-link active' aria-current='page' href='/courses'>Courses</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/route'>Route</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/blog'>Blog</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/aboutus'>About Us</a>
                </li>

            </ul>
            {{#if user}}
                <ul class='navbar-nav'>
                    <img
                        style='width: 30px; height: 30px; border-radius: 50%; margin-top: 5px;'
                        src='{{user.image}}'
                        alt=''
                    />
                    <li class='nav-item dropdown'>

                        <a
                            class='nav-link dropdown-toggle'
                            href='#'
                            id='navbarDropdownMenuLink'
                            role='button'
                            data-bs-toggle='dropdown'
                            aria-expanded='false'
                        >
                            {{user.name}}
                        </a>
                        <ul class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
                            {{! <li><a class='dropdown-item' href='/courses/create'>Add Courses</a></li> }}
                            <li><a class='dropdown-item' href='#'>Personal</a></li>
                            <div class='dropdown-divider'></div>
                            <li><a class='dropdown-item' href='me/stored/courses'>My courses</a></li>
                            <li><a class='dropdown-item' href='me/stored/blog'>My blogs</a></li>
                            <div class='dropdown-divider'></div>
                            <li><a class='dropdown-item' href='#'>Setting</a></li>
                            <li><a class='dropdown-item' href='/user/logout'>Log out</a></li>
                        </ul>
                    </li>
                </ul>
            {{else}}
                <div class='d-flex gap-4 no-user'>
                    <a href='/user/register' role='button'>
                        Sign up
                    </a>
                    <a href='/user/login' role='button'>
                        Sign in
                    </a>
                    <a href='/setting' role='button'>
                        Setting
                    </a>
                </div>
            {{/if}}

        </div>
    </div>
</nav>