<main>
    <!-- Main Content -->
    <div class='container my-5'>
        <h1>About Us</h1>
        <br />

        <p>F8 Education provides high-quality coding courses for beginners to advanced students. Our
            goal is to make programming accessible and enjoyable for everyone.</p>
        <p>Our team of experienced instructors are passionate about teaching and helping students
            achieve their goals. We offer a wide range of courses, from web development to data
            science, and provide personalized support to ensure that each student is successful.</p>
        <p>At F8 Education, we pride ourselves on following industry best practices and delivering
            up-to-date curriculum that prepares our students for the real world. Our graduates have
            gone on to work at top tech companies and startups around the world.</p>
        <br />
        <h2>About The Founder</h2>
        <br />

        <img
            src='https://scontent.fvca1-3.fna.fbcdn.net/v/t39.30808-6/250951029_2310653682405428_2097463697023468442_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=L_7jVut1b1IAX8ALGJl&_nc_ht=scontent.fvca1-3.fna&oh=00_AfC3oDgYjOj7jxxhe8GTCxlSbWfQ8Gw4QPz2qJRdBby7mg&oe=647863D6'
            alt="Founder's Photo"
            class='roundedd float-start me-3'
        />
        <p><strong>Son Dang</strong>
            is the founder of F8 Education. He started the company with a vision to make coding
            education more accessible and inclusive.</p>
        <p>John has worked as a software engineer for over 10 years and has a passion for teaching.
            He holds a degree in Computer Science from XYZ University and has taught at several
            bootcamps and universities.</p>
        <p>In his free time, John enjoys hiking and playing board games with his family.</p>
        <br />
        <h2 class='mt-4'>About The Website Developer</h2>
        <br />
        <img
            src='image/toan.jpg'
            alt="Website Developer's Photo"
            class='roundedd float-start me-3'
        />
        <p><strong>Do Khanh Toan</strong>
            is a 4th-year student at Can Tho University majoring in Information Systems. He has a
            deep passion for programming and has experience in building responsive and user-friendly
            web applications using modern technologies such as Node.js, Express.js, and MongoDB.</p>
        <p>
            In the future, he plans to develop this project further with React.js and use React
            Native to develop the mobile application.</p>

        <br />
        <br />
        <br />
        {{! <p>The main purpose of the F8 Education website is to provide online programming courses and
            resources. To accomplish this, Toan utilized various technologies including:</p>
        <ul>
            <li>Express: A fast, minimalist web framework for node.js</li>
            <li>Mongoose: An object modeling tool for MongoDB database</li>
            <li>Passport: An authentication middleware for Node.js</li>
            <li>bcryptjs: A library for hashing passwords</li>
            <li>multer: A middleware for handling `multipart/form-data` used for file uploads</li>
            <li>dotenv: A zero-dependency module that loads environment variables from a `.env` file
                into `process.env`</li>
            <li>AWS SDK: A software development kit for working with Amazon Web Services (AWS)</li>
        </ul> }}
    </div>
</main>