<main>
    <div class='container mt-4'>
            <div class='row'>
                <h3>Featured blog</h3>
                <br />
                <p>Synthesize shared articles about self-study online programming and web programming techniques.</p>
                <br />
                <br />
                <br />
                {{!-- item --}}
                {{#each blog}}
                    <a href="/blog/{{ this._id }}/detail" class="bg-light p-4 item-blog mb-4">
                        <div class="author d-flex gap-2">
                            <img style="height: 30px;  width: 30px;object-fit: cover;border-radius: 50%;" src="https://i1.wp.com/www.baytekent.com/wp-content/uploads/2016/12/facebook-default-no-profile-pic1.jpg?resize=600%2C600&ssl=1" alt=""> 
                            <h4 style="font-size: 17px;" class="mt-1 ">{{this.author}}</h4>
                        </div>
                        <div class="contents-blog d-flex gap-5">
                            <div class="content">
                                <h4 class="mt-3 title-blogs">{{this.title}}</h4>
                                <p class="des-blogs">{{this.content}}</p>
                            </div>
                            <img style="height: 100px;  width: 200px;object-fit: cover; border: 1px #ffffff solid ; border-radius: 10px;" class="flex-shrink-1"  src="/image/logo_node.png" alt="">
                        </div>
                    </a>
                {{/each }}
                {{!-- end items --}}
            </div>
        </div>
    </div>
</main>
<a href='#' class='floating-button'>
    <div class='plus-icon'></div>
</a>