<main>
    <div class='container'>

        {{! <h3 class='mt-4'>Lộ trình học lập trình để đi làm </h3> }}
        <br />
        <div class='p-5 mb-4 bg-light rounded-3'>
            <div class='container-fluid py-5'>
                <h1 class='display-6 fw-bold'>F8 LEARNING FOR CAREER</h1>
                <p class='col-md-8 fs-4'>We provide you with quality, practical and reputable
                    courses, and there are plenty of benefits if you choose F8 Education.</p>
                <button class='btn btn-primary btn-lg' type='button'>Start Learning</button>
            </div>
        </div>

        <div class='row align-items-md-stretch mt-4'>
            <div class='col-md-6'>
                <div class='h-100 p-5 text-white bg-dark rounded-3'>
                    <h2>FrontEnd Web</h2>
                    <p>"Enhance the look of your website with our FrontEnd Web course. Mix and match
                        background-color utility with .text-* color utility to create a stunning
                        jumbotron design. Explore various component themes and elevate your web
                        development skills with us."</p>
                    <button class='btn btn-outline-light' type='button'>Learn about</button>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='h-100 p-5 bg-light border rounded-3'>
                    <h2>BackEnd Web</h2>
                    <p>"Take your website to the next level with our BackEnd Web course, which
                        focuses on creating efficient and high-performing server-side applications.
                        Learn about HTML alignment, sizing adjustment, and equal-height columns
                        while adding a border for added definition. Join us now and master the art
                        of back-end web development."</p>
                    <button class='btn btn-outline-secondary' type='button'>Learn about</button>
                </div>
            </div>
        </div>

        <div class='row align-items-md-stretch mt-4'>
            <div class='col-md-6'>
                <div class='h-100 p-5 text-white bg-dark rounded-3'>
                    <h2>FullStack Web</h2>
                    <p>"Become a versatile developer with our FullStack Web course. With a focus on
                        both front-end and back-end development, you'll learn how to swap
                        background-color utility, add .text-* color utility, and mix and match
                        various component themes to create dynamic and visually appealing websites.
                        Sign up today and start your journey towards mastering full-stack web
                        development."</p>
                    <button class='btn btn-outline-light' type='button'>Learn about</button>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='h-100 p-5 bg-light border rounded-3'>
                    <h2>Mobile App</h2>
                    <p>"Learn how to develop mobile apps that stand out in the ever-growing app
                        market with our Mobile App course. Keep it light and add a border for
                        enhanced content definition. Study HTML source codes and adjust alignment
                        and sizing for equal-height columns. Join us now and become a skilled mobile
                        app developer."</p>
                    <button class='btn btn-outline-secondary' type='button'>Learn about</button>
                </div>
            </div>
        </div>
    </div>
</main>